<div class="me">
	<img src="<%= theme.authorimg %>">
	<h2><%= config.author %></h2>
	<p><%= theme.autograph %></p>
	<div class="me-icon">
		<a class="weibo" href="<%= theme.weibo %>"><i class="fa fa-weibo" aria-hidden="true"></i></a>
		<a class="github" href="<%= theme.github %>"><i class="fa fa-github" aria-hidden="true"></i></a>
		<a class="steam" href="<%= theme.steam %>"><i class="fa fa-steam" aria-hidden="true"></i></a>
	</div>
</div>